.message {
    max-width: 70%;
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    position: relative;
    display: flex;
    margin-bottom: 0.8rem;
    font-weight: 400;

    pre {
        white-space: pre-wrap;
    }

    &.bot {
        align-self: flex-start;
        background-color: white;
        border-radius: 1.2rem 1.2rem 1.2rem 0.3rem;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    &.user {
        align-self: flex-end;
        background-color: rgb(145, 197, 225);
        border-radius: 1.2rem 1.2rem 0.3rem 1.2rem;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
}